@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  font-family: 'Lato', sans-serif;
}


body {
  background-image: url(COMIDAS/fondo-03.jpg);
  background-size: cover;
  
}


  

   
    