/* menu */ 



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  font-family: 'Lato', sans-serif;
}


nav {
    position: relative;
    display: inline-flex;;
    align-items: flex-end;
      margin: 30px auto 0;
      width: 470px;
      height: 50px;
      background-color: #fff1bb72;
      border-radius: 50px;
      font-size: 0;

  }
  nav a {
      line-height: 50px;
      height: 100%;
      font-size: 15px;
      display: inline-block;
      position: relative;
      z-index: 10;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: rgb(77, 47, 1);
      cursor: pointer;
  }
  
  nav .animation {
      position: absolute;
      height: 100%;
      top: 0;
      transition: all 0.5s ease 0s;
      border-radius: 8px;
  }
  
  a:nth-child(1) {
      width: 90px;
    font-weight: bold;
      
  }
  
  a:nth-child(2) {
      width: 90px;
    font-weight: bold;
    
  
  
  }
  a:nth-child(3) {
      width: 95px;
    font-weight: bold;
  
  
  }
  a:nth-child(4) {
      width: 85px;
    font-weight: bold;
  
  
  }
  a:nth-child(5) {
      width: 110px;
    font-weight: bold;
  
  
  }
  nav .start-home, a:nth-child(1):hover~.animation {
      width: 90px;
      left: 0;
    border-radius: 50px;
      background-color: rgba(177, 115, 0, 0.522);  
  }
  nav .start-about, a:nth-child(2):hover~.animation {
      width: 110px;
      left: 80px;
    border-radius: 50px;
      background-color: rgba(177, 115, 0, 0.522);
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
      width: 95px;
      left: 180px;
    border-radius: 50px;
      background-color: rgba(177, 115, 0, 0.522);
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
      width: 95px;
      left: 270px;
    border-radius: 50px;
      background-color: rgba(177, 115, 0, 0.522);
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
      width: 110px;
      left: 360px;
    border-radius: 50px;
      background-color: rgba(177, 115, 0, 0.522);
    
  }
  
  body {
      font-size: 12px;
      font-family: sans-serif;
  }
  
  
  span.s1 {
    position: absolute;
    top: 0;
    font-size: 15rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  span.s2 {
    font-weight: 800;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15rem;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  div.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    }
  
    img {
    width: 100%;
    height: auto;
    }
  