@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-image: url("imagenes/background.jpg");
  background-size: cover;  
  }

h1 {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  padding: 20px 10px 10px 10px;
  text-decoration: none;
}

/* BANNER - IMG PRINCIPAL */ 
img{
  width: 100%;
  height: auto;
}

/* LOGO */ 
.logo{
  display:block;
  margin:auto;
  width: 70px;
  margin-top: 15px;
}

/* MENU */

nav {
  position: relative;
  display: inline-flex;;
  align-items: flex-end;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 430px;
  height: 50px;
  background-color: #fff1bb72;
  border-radius: 10px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 14px;
  display: inline-block;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
  color: rgb(77, 47, 1);
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
  
a:nth-child(1) {
  width: 80px;
  font-weight: bold;  
}
  
a:nth-child(2) {
  width: 80px;
  font-weight: bold;
}

a:nth-child(3) {
  width: 90px;
  font-weight: bold;
}

a:nth-child(4) {
  width: 80px;
  font-weight: bold;
}

a:nth-child(5) {
  width: 100px;
  font-weight: bold;
}

nav .start-home, a:nth-child(1):hover~.animation {
  width: 80px;
  left: 0;
  border-radius: 10px;
  background-color: rgba(177, 115, 0, 0.522);  
}

nav .start-about, a:nth-child(2):hover~.animation {
  width: 100px;
  left: 70px;
  border-radius: 10px;
  background-color: rgba(177, 115, 0, 0.522);
}

nav .start-blog, a:nth-child(3):hover~.animation {
  width: 90px;
  left: 160px;
  border-radius: 10px;
  background-color: rgba(177, 115, 0, 0.522);
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 90px;
  left: 245px;
  border-radius: 10px;
  background-color: rgba(177, 115, 0, 0.522);
}

nav .start-contact, a:nth-child(5):hover~.animation {
  width: 100px;
  left: 330px;
  border-radius: 10px;
  background-color: rgba(177, 115, 0, 0.522);
}





/*TARJETAS PAGINA INDEX*/

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 350px;
  height: 300px;
  border-radius: 50px;
  transition: 0.3s;
}

.card .card_image {
  width: inherit;
  height: inherit;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -60px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
}

.title-black {
  color: rgb(0, 0, 0);
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}








/*TARJETAS PAGINA 2 SIGUE LA TRADICIÓN*/

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 2px 21px -10px rgba(0, 0, 0, 0.66);
  border-radius: 20px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #000000;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__text {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 350px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
}






/*TARJETAS PAGINA 3 CONOCE LA HISTORIA */

p {
  text-align: center;
  opacity: .8;
}

.tarjet-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.tarjet {
  width: 23%;
  margin: 1%;
  color: inherit;
  border-radius: 10px;
  padding: 50px;
  transition: .3s all;
  box-shadow: 0 2px 2px 0 rgba(154, 145, 138, 0.366);
 
    @media screen and (max-width: 1240px) {
    width: 48%;
    }
    @media screen and (max-width: 820px) {
    width: 100%;
    margin: 2% auto;
    }
    &:hover {
    box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
    transform: scale(1.05);
    }

} 






//*TARJETAS PAG 4 PRODUCTO//*
section {
  padding: 30px 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 350ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}

.carousel__slide div {
  position: relative;
  width: 100%;
}

.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 60%;
}

.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}

.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 20px 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
  color: #000000;
  font-weight: bolder;
  font-size: 18px;
}

.carousel__slide .credit {
  margin-top: 1rem;
  display: block;
  color: #000000;
  font-weight: bolder;
  font-size: 16px;
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__product {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}

.carousel__slides + .carousel__product {
  margin-top: 20px;
}

.carousel__product li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

.carousel__product label {
  display: block;
  position: relative;
}

.carousel__product label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel__product label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__product label:hover, .carousel__product label:focus {
  cursor: pointer;
}

.carousel__product label:hover img, .carousel__product label:focus img {
  transition: all 300ms ease-in-out;
}

.carousel__product img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




//*FOOTER//*

/* LOGO FOOTER */ 
.iconofooter{
  display:block;
  margin:auto;
  width: 50px;
  margin-bottom: 20px;
}

.footer-basic {
  padding:40px 20px;
  background-color:#ffffff;
  color:#240d00;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:25px;
  line-height:10px;
  display:inline-block;
  text-align: center;

  border:1px solid #240d00;
  margin:0 10px;
  color:inherit;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#240d00;
  margin-bottom:0;
}








:root {
  --color-primary: #371500;
  --color-secondary: #F0F7EE;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-size: 1.125rem;
  --line-height: 1.5;
}


h1 {
  margin-bottom: calc(var(--space) * 3);
  line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
  position: absolute;
  height: 8px; 
  width: 9px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  
  + label {
    position: absolute;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-primary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
  }
  
  ul {
    font-size: 12vmin;
    width: 100%;
  }
  
  li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--color-secondary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }
  
  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
}

.main-content {
  margin: 4rem auto;
  max-width: 7ch;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
  
  > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
}

.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {    
    .icon-group {
      transform: translateX(100%);
    }
  }
  
  ~ .main-content {
    transform: translateX(10%);
  }
  
  ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
    
    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }
    
    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }
    
    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }
    
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after, a {
          animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from { transform: translateX(-100%) skewX(-15deg) }
  to { transform: translateX(0) }
}

@keyframes nav-line {
  0%   { transform: scaleX(0); transform-origin: 0 50%; }
  35%  { transform: scaleX(1.001); transform-origin: 0 50%; }
  65%  { transform: scaleX(1.001); transform-origin: 100% 50%; }
  100% { transform: scaleX(0); transform-origin: 100% 50%; }
}

@keyframes link-appear {
  0%, 25%   { transform: translateY(100%); }
  50%, 100% { transform: translateY(0); }
}













